<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/members">Member Home</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/privateOwner">Adopt from Private Owner</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/shelter">Adopt from Shelter</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/addPet">Post a pet for Adoption</a>
        </li>
        <li>
          <a class="navbar-brand" href="/logout"> Logout </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

</nav>
<div class="container">
  <div class="jumbotron mx-auto text-center">
    <h1>FUR-Ever Home</h1>
    <h3>Adopt your new pet!</h3>
    <hr>
    {{!-- <a href="/addPet" class="btn btn-danger btn-lg">
      <span class="fa fa-plus"></span> Add New Pet</a> --}}
  </div>

<div class="input-group mb-3">
  <input type="text" id = "user-postal" class="form-control" placeholder="Postal Code" aria-label="Postal Code" aria-describedby="button-addon2">
  <button class="btn btn-outline-secondary" type="button" id="search-btn">Find Your FUR-Ever Pet</button>
</div>

  <div class="row">
    <div class="col-lg-12">
      {{!-- <div class="card">
        <div class="card-header">
          Pet Database
        </div> --}}
        <div id="shelter-area">
          <!-- Content will go in here -->
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://unpkg.com/@petfinder/petfinder-js/dist/petfinder.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="js/petfinder.js" type="text/javascript"></script>