body {
  background-image: url("../images/cute_animal_background.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
}

.navbar {
  background-color: aliceblue;
}

.vertical-center {
  min-height: 100%;
  max-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  
}

#log-sign {
  border-radius: 2em;
  background: rgba(128, 128, 128 , 0.75);
  color: white;
}

.card {
  margin-top: 20px;
  margin-bottom: 20px;
}
